body {
    font-family: 'arial','sans-serif';
    background-color: black;
    color: hsl(210, 17%, 82%);
}

h1 {
    color: #58a6ff;
}

a {
    color: #88949e;
    text-decoration: none;
}

a:hover {
    color: #1f6feb;
}

ul>li {
    font-weight: bold;
}

h1+p {
    background-color: #161b22;
    padding: 10px;
    border-radius: 5px;
}

ul li:hover {
    color: #4F8CC9;
}

ul list-style:nth-child(3) {
    background-color: #21262d;
}

p:not(:first-of-type) {
    text-decoration: underline;
}

ul li::before {
    content: "🚀";
}

a::after {
    content: 🛸;
}

p::first-letter {
    font-size: 200%;
    color: #FF7B72;
}